{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "重置密码" %}{% endblock %}

{% block main_content %}
<div class="row my-5">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header text-center"><h4>{% trans "重置密码" %}</h4></div>
            <div class="card-body text-start">
                <h5 class="card-title">{% trans "忘记密码？" %}</h5>
                <p class="card-text mt-3 mb-4">{% trans "请输入您的电子邮箱，我们会发送一封邮件至您的邮箱。请点击邮件中的链接，以便重置您的密码。" %}</p>
                <form method="post">
                    {% for field in form %}
                    <div class="my-2">
                        {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <li class="text-danger">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <p>{{ field.label_tag }}</p>
                        {{ field }}
                        <div class="text-body-tertiary my-2">{{ field.help_text|safe }}</div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <p class="mt-3"><input class="form-control btn btn-outline-success" type="submit" value="{% trans '提交' %}"></p>
                </form>
            </div>
            <div class="card-footer text-muted"><h5>{% load_greeting_message %}</h5></div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}