{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "修改密码" %}{% endblock %}

{% block main_content %}
<div class="row my-5">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header text-center"><h4>{% trans "修改密码" %}</h4></div>
            <div class="card-body text-start">
                <form method="post">
                    {% for field in form %}
                    <div class="mb-3">
                        {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <li class="text-danger">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <p>{{ field.label_tag }}</p>
                        {{ field }}
                        <div class="text-body-tertiary my-2">{{ field.help_text|safe }}</div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <p><input class="form-control btn btn-outline-success my-3" type="submit" value="{% trans '修改' %}"></p>
                </form>
            </div>
            <div class="card-footer text-muted"><h5>{% load_greeting_message %}</h5></div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}