{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "密码重置成功" %}{% endblock %}

{% block main_content %}
<div class="row my-5">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header text-center"><h4>{% trans "重置密码" %}</h4></div>
            <div class="card-body text-center">
                <p class="card-title"></p>
                <div class="alert alert-success" role="alert">
                    {% trans "您的新密码已经设定成功，请重新登录。" %}
                </div>
                {% load_jump_count_down_redirection_login %}
            </div>
            <div class="card-footer text-muted"><h5>{% load_greeting_message %}</h5></div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}

{% block additional_script %}
{% load_jump_count_down_js redirection_page="account:login" %}
{% endblock %}