{% load i18n %}

<div class="my-3">
    <a class="btn btn-light border" data-bs-toggle="collapse" href="#collapseComment" id="comment_trigger_button" role="button" aria-expanded="false" aria-controls="collapseComment">
        {% trans "发表我的评论" %}
        <span id="chevronIcon" class="bi bi-chevron-down ms-2"></span>
    </a>
</div>
<div class="collapse my-3" id="collapseComment">
    <div class="card card-body">
        <form class="mt-3" id="comment_form" action="{% url 'course:article_comment' article.id %}" method="post">
            {% for field in form %}
            <div class="mb-3">
                {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                    <li class="text-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p>{{ field.label_tag }}</p>
                {{ field }}
                <div class="text-body-tertiary my-2">{{ field.help_text|safe }}</div>
            </div>
            {% endfor %}
            {% csrf_token %}
            <p><input class="btn btn-light border mt-3" type="submit" value="{% trans '提交评论' %}"></p>
        </form>
    </div>
</div>