{% extends "course/base.html" %}

{% load i18n %}
{% load course_tags %}

{% block title %}{% trans "搜索" %}{% endblock %}

{% block navbar %}
    {% show_nav_bar %}
{% endblock %}

{% block main_content %}
    {% if query %}
    <div class="row align-items-center" style="height: 100px;">
        <h2>
            {% blocktranslate with results.count as total_results %}
            一共找到 <mark>{{ total_results }}</mark> 篇包含 <mark>"{{ query }}"</mark> 的文章。
            {% endblocktranslate %}
        </h2>
    </div>
    <div class="container my-5">
    {% for article in results %}
        <div class="card mb-2">
            <div class="card-body">
                <h2 class="card-title">
                    <a href="{{ article.get_absolute_url }}" class="text-decoration-none">
                        {{ article.title }}
                    </a>
                </h2>
                <p class="card-subtitle">
                    {% blocktranslate with published_at=article.published_at last_name=article.author.last_name first_name=article.author.first_name %}
                    发布于 {{ published_at }}，作者：{{ last_name }},{{ first_name }}
                    {% endblocktranslate %}
                </p>
                <hr>
                <p class="card-text">
                    {{ article.body|markdown|truncatewords_html:10 }}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}